<h1>Statistiques</h1>
<div class="main">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Nombre d'utilisateurs</mat-card-title>
      <mat-card-title>50</mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Nombre de transactions</mat-card-title>
      <mat-card-title>20</mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Nombre de depots</mat-card-title>
      <mat-card-title>7</mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Nombre de retraits</mat-card-title>
      <mat-card-title>2</mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Nombre d'achats</mat-card-title>
      <mat-card-title>2</mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Nombre de ventes</mat-card-title>
      <mat-card-title>3</mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Nombre de swaps</mat-card-title>
      <mat-card-title>1</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
