h1 {
  margin-top: 16px;
  margin-left: 100px;
}
mat-card {
  width: 250px;
  height: 64px;
  margin: 8px;
}
.main {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
