<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer = !drawer">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Espace administrateur</span>
  <span class="spacer"></span>
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="drawer">
    <mat-nav-list>
      <a routerLink="/dashboard/statistiques">
        <mat-list-item>Statistiques</mat-list-item>
      </a>
      <a routerLink="/dashboard/transactions">
        <mat-list-item>Transactions</mat-list-item>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
